		body {
			background-color: #EEE;
			margin: 2em 0;
			font-size: 12pt;
			font-family: "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans GB", sans-serif;
			line-height: 150%;
		}
		blockquote {
			font-size: inherit;
		}
		#container {
			background-color: #FFF;
			/*box-shadow: 0px 0px 10px #CCC;*/
			/*border: 3px solid #DDD;*/
			padding: 1em 2em;
			box-shadow: 0 0 0.5em #e6e6e6 inset,0 0 0 1px #d3d3d3;
			border-radius: 0.5em;
			margin-bottom: 1em;
		}
		h1, h2, h3, h4, h5, h6 {
			border-bottom: 1px solid #EEE;
			padding-bottom: 0.25em;
			font-weight: bold;
			margin-top: 1em;
		}
		img {
			border: 3px solid #e6e6e6;
			padding: 1em;
			box-shadow: 0px 0px 10px #d3d3d3;
		}
		.contents
		{
   			 float: right
		}
		@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
			img { zoom: 0.5; }
		}